<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>


<%= @user.email %><br>
<%= @user.username %><br>

<% @content.each do |x| %>

	<img src="<%= x.poster_url %>">
	<h2><%= x.title %></h2>
	<p><%= x.plot %></p>
	
<% end %>