<h1>Movie Search</h1>


<%= form_tag("/searches", method: "get") do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>


<% @search.each do |x| %>

	<h2><%= x["Title"] %></h2>
	<a href='/movie?q=<%=x["imdbID"]%>'><p><%= x["imdbID"] %></p></a>


<% end %>